default_mode "normal"
mouse_mode true
pane_frames false
copy_command: "pbcopy"
copy_on_select true
simplified_ui true
pane_frames: false
theme "tokyo-night-dark"
layout {
    pane borderless=true
    pane {
        borderless true
    }
}
default_layout "compact"
ui {
    pane_frames {
        hide_session_name true
    }
}

themes {
   dracula {
        fg 248 248 242
        bg 40 42 54
        black 0 0 0
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        cyan 139 233 253
        white 255 255 255
        orange 255 184 108
    }
    tokyo-night-dark {
        fg 169 177 214
        bg 26 27 38
        black 56 62 90
        red 249 51 87
        green 158 206 106
        yellow 224 175 104
        blue 122 162 247
        magenta 187 154 247
        cyan 42 195 222
        white 192 202 245
        orange 255 158 100
     }
}
